<div>
    <form name="searchForm" class="form-horizontal" role="form" ng-submit="ctrl.submitForm()" novalidate>
        <div class="col-xs-12 col-md-4">
            <div class="row form-group">
                <div class="col-xs-12 col-sm-6 col-md-12">
                    <label class="control-label">Product</label>
                    <input name='title' type="text" class="form-control" ng-model="ctrl.searchForm.title" ng-minlength="3"
                           placeholder="Product title" required>
                    <p ng-show="searchForm.title.$invalid && searchForm.title.$dirty" class="help-block">
                        Title is required and min length is 3 </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-12">
                    <label class="control-label">&nbsp;</label>
                    <select class="form-control">
                        <option>Category</option>
                        <option>Category 1</option>
                        <option>Category 2</option>
                        <option>Category 3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <auction-price-range low-price="ctrl.searchForm.lowPrice"
                                         high-price="ctrl.searchForm.highPrice">
                    </auction-price-range>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label">Max Auction Close Day</label>

                            <div class="input-group">
                                <input name="date" ng-model="ctrl.searchForm.date" auction-datepicker data-date-format="mm/dd/yyyy" class="form-control"
                                       value="03/11/2014" checkDate>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <label class="control-label">&nbsp;</label><br>


                            <div class="form-group">
                                <div class="col-xs-8">
                                    <label class="control-label">Number of Bids</label>
                                </div>
                                <div class="col-xs-4">
                                    <input name='bids' ng-model="ctrl.searchForm.bids"  type="number" class="form-control" min='1'>
                                    <p ng-show="searchForm.bids.$invalid" class="help-block">
                                        Number of Bids should be positive value </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <br>

            <button type="submit" class="btn btn-default btn-block btn-primary" ng-disabled="searchForm.$invalid">Find more</button>
        </div>
    </form>
</div>
